<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gigigo.orchextra.ocmsdk">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application android:allowBackup="true"
      android:supportsRtl="true">

    <activity
        android:name="com.gigigo.orchextra.core.sdk.model.detail.DetailActivity"
        android:configChanges="keyboard|keyboardHidden"
        android:screenOrientation="portrait"/>

    <activity
        android:name="com.gigigo.orchextra.core.sdk.model.detail.viewtypes.youtube.YoutubeContentDataActivity"
        android:screenOrientation="portrait"/>
  </application>

</manifest>
